body {
  padding: 60px;
  background: url('../images/gplaypattern.png');
}
p {
  margin: 1em 0;
}
#page-header {
  text-align: center;
  margin-bottom: 60px;
}

pre[class*="language-"] {
  position: relative;
  padding-top: 3em;
}
.example-code:after, .example-result:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: whiteSmoke;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.example-result:after {
  content: "Result";
}
